body {
   background-image: url("https://wallpapers.com/images/hd/keroppi-and-his-hobbies-lnd4pi8mxadadqrb.jpg")
}

#splash_title {
	width: 100%;
  font-size: 100px;
  color: rgb(248, 164, 168);
  opacity: 0.95;
  text-shadow: 4px 4px 4px rgb(219, 140, 144);
  text-align: center;
}

.menu_button {
	background-color: rgb(248, 164, 168);
  opacity: 85%;
    font-size: 28px;
    color: rgb(107, 185, 115);
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.background_button {
    border-radius: 12px;
    padding: 16px 20px;
}
